h1 {
    text-align: center;
    background-color: antiquewhite;
}

body {
    background-color: blanchedalmond;
}

.para {
    text-align: center;
    font-family: Impact;
    background-color: beige;
}

.foot {
    text-align: center;
    background-color: antiquewhite;
}

